<form
   (ngSubmit)="onSubmit()"
   [formGroup]="briefingForm"
   class="bg-gray-900 border-solid border-2 border-gray-700 bg-opacity-75 backdrop-blur-md rounded-lg shadow-xl p-8">
   <h2 class="text-3xl font-bold mb-6 text-gray-100 text-center">Flight Briefing</h2>

   <div class="mb-5">
      <label class="block mb-2 font-semibold text-gray-200">Meteorological Reports</label>
      <div class="space-x-3 flex flex-row">
         <div
            *ngFor="let reportType of reportTypeKeys"
            class="flex items-center">
            <input
               type="checkbox"
               [formControlName]="reportType"
               [id]="reportType"
               class="mr-2 bg-gray-700 border-gray-600 rounded text-primary focus:ring-primary" />
            <label
               [for]="reportType"
               class="text-gray-300"
               >{{ getReportTypeLabel(reportType) }}</label
            >
         </div>
      </div>
      <div
         *ngIf="briefingForm.errors?.['atLeastOneReportRequired']"
         class="text-red-400 text-sm mt-1">
         Please select at least one report type.
      </div>
   </div>

   <div class="mb-5">
      <label
         for="stations"
         class="block mb-2 font-semibold text-gray-200"
         >Airports (ICAO codes)</label
      >
      <input
         type="text"
         id="stations"
         formControlName="stations"
         class="w-full px-3 py-2 bg-gray-700 border border-gray-600 rounded-md text-gray-200 focus:outline-none focus:ring-2 focus:ring-primary placeholder-gray-400"
         placeholder="e.g.: EGLL KJFK" />
      <div
         *ngIf="briefingForm.get('stations')?.errors?.['invalidIcaoCodes']"
         class="text-red-400 text-sm mt-1">
         Please enter valid ICAO codes (4 uppercase letters) separated by spaces.
      </div>
   </div>

   <div class="mb-5">
      <label
         for="countries"
         class="block mb-2 font-semibold text-gray-200"
         >Countries (WMO codes)</label
      >
      <input
         type="text"
         id="countries"
         formControlName="countries"
         class="w-full px-3 py-2 bg-gray-700 border border-gray-600 rounded-md text-gray-200 focus:outline-none focus:ring-2 focus:ring-primary placeholder-gray-400"
         placeholder="e.g.: SQ CZ" />
      <div
         *ngIf="briefingForm.get('countries')?.errors?.['invalidWmoCodes']"
         class="text-red-400 text-sm mt-1">
         Please enter valid WMO codes (2 uppercase letters) separated by spaces.
      </div>
   </div>

   <div
      *ngIf="briefingForm.errors?.['atLeastOneLocationRequired']"
      class="text-red-400 text-sm mb-4">
      Please specify at least one airport or country code.
   </div>

   <button
      appClickEffect
      type="submit"
      [disabled]="!briefingForm.valid"
      class="w-full airplane-cursor bg-primary text-white py-2 px-4 rounded-md hover:bg-[#509d8a] focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2 focus:ring-offset-gray-800 disabled:bg-gray-600 disabled:text-gray-400 disabled:cursor-not-allowed transition duration-150 ease-in-out">
      Create Briefing
   </button>

   <div
      *ngIf="submitError"
      class="text-red-400 text-md mt-5">
      {{ submitError }}
   </div>
</form>
